/**
 * General Classes
 */
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.margin-bottom-md {
    margin-bottom: 20px;
}
.delete-form {
    display: inline-block;
}
.text-lg{
    font-size:18px;
}
.text-md{
    font-size:16px;   
}
.text-sm{
    font-size:12px;
}
.text-xs{
    font-size:10px;
}

/**
 * Report Styles
 */
div.rule-block {
    border-bottom: 2px solid #c3c1c1;
    padding-bottom: 20px;
}
.rule-block:last-of-type {
    border-bottom: none !important;
    padding-bottom: 0px;
}
span.performance-desc {
    font-size: 13px;
    font-weight: 500;
    display: block;
}

/**
 * Select2
 */
.select2-selection {
    height: 32px !important;
    padding-top: 2px !important;
}
.select2-selection__arrow {
    margin-top: 2px !important;
}

/**
 * Glyphicon style tweaks
 */
.glyphicon {
    margin-right: 5px;
}